*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 35px;
    padding-left: 40px;
}

#frame{
border: 2px solid grey;
}

/* code for error div */

.error{
    width:100%;
    text-align:center;
    padding-top:140px;
    position:absolute;
}


/* css to print resume */

@media print {
    body * {
        display: none;
    }

    #frame,#frame *{
        display:grid;
    }

    #frame{
        position:absolute;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 0;
        border: none;
    }

    .about .box .yearcompany h5{
       display: flex !important;

    }

    .strtend{
        display: flex !important;
    }

    .tmp6head h1{
        display: flex !important;
        justify-content: center;
    }

    .tmp6flex {
        display: flex !important;
    }

    .tmp6head .ctstat{
        display: flex !important;
        justify-content: space-evenly;
    }

    #dlname{
        padding-left: 7px;
    }

    .tmp6head .ctstat{
        display: grid !important;
       justify-content: center !important;
    }

    .tmp6head .ctstat p{
        display:flex !important;
    }
    

}

/*css for unautorized users sign in button*/

.btngrid{
    display: grid;
    width: 100%;
    justify-content: center;
    padding-top:40px;
}

.herobtn{
    background-color:#0000FF;
    outline: none;
    border: none;
    padding:15px;
    width:200px;
    margin-left: 10px;
    border-radius: 5px;
    color:white;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 1px;
    cursor: pointer;
}

.btngrid a{
    text-decoration: none;

}


/* css for add button */

.addbox{
    width: 100%;
    display: grid;
    place-items: center;
}

.addboxdiv{
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.addbutton{
    width: 100%;
}

#moveaddbtn{
    margin-top: 70px;
    display: grid;
    place-items: center;
}



/* Editor */

.main{
    position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 150px;
      padding-bottom: 200px;
      padding-left: 80px;
      padding-right: 80px;
    }

/* left side */

.prow{
    display: flex;
    gap: 30px;
    padding:20px 0;
}

.pcentr{
    display: grid;
    place-items: center;
    margin-top: 50px;
}

.ed,.exp,.skl,.prfsumry{
    display: none;
}

label{
      font-size: 23px;
}

/* css to remove the arrow from input type number */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pcentr input[type=text],input[type=number]{
    width: 300px;
    height: 40px;
    font-size: 17px;
    outline: none;
    padding: 10px;
    border: none;
    border-bottom:1px solid black;
    margin-top: 15px;
}

.ptxtarea{
    padding-top: 20px;
}

.pcentr textarea{
    font-size: 18px;
    width: 630px;
    height: 55px;
    padding: 20px;
    outline: none;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    border-bottom:1px solid black;
    margin-top: 15px;
    overflow:hidden;
}

/* right side */

.right{
    display: grid;
    place-items: center;
    justify-content: center;
}

.imgdiv{
    width: 85%;
    height: 100%;
}

.rimg{
    width: 100%;
    height:100%;
}

/* previous next button */

.btndiv{
    display: grid;
    justify-content: center;
}

.prevnextbtn{
    max-width: 550px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.prevnextbtn a{
    padding:15px 25px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#bk{
    background-color:rgba(0,0,0,0.5);
}

#bk:hover{
    background-color:black;
}

#nxt{
    background-color:black;
}

#nxt:hover{
    background-color:rgba(0,0,0,0.5);
}

/* final phase */


.editbar{
    position: relative;
    padding-top: 35px;
    padding-bottom: 50px;
    text-align: center;
    width: 50%;
    background-color: rgb(242, 243, 245);
    box-shadow: 7px 10px 10px grey;
    border-radius:5px;
    margin: 100px auto;
}

#editlinks{
    cursor: pointer;
}

.backpagenav{
    display: grid;
    font-size: 23px;
    gap:20px;
}

.edbtn{
    display: grid;
    align-items: center;
    width: 70%;
    margin: auto;
    height: 50px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.edbtn:hover{
    background-color: #1d55ff;
    box-shadow: -1px 1px 0px rgb(59, 59, 59),
                -2px 2px 0px rgb(59, 59, 59),
                -3px 3px 0px rgb(59, 59, 59),
                -4px 4px 0px rgb(59, 59, 59),
                -5px 5px 0px rgb(59, 59, 59),
                -6px 6px 0px rgb(59, 59, 59);
    color: white;            
}

.complete{
    max-width: 550px;
    display:grid;
    justify-content:center;
    padding-top:100px;
    padding-bottom: 100px;
}

.complete button{
    padding: 10px;
    width:120px;
    height: 50px;
    font-size: 17px;
    border: none;
    margin-top: 15px;
    border-radius: 5px;
    background-color: black;
    color: white;
    letter-spacing: 1px;
}

.complete button:hover{
    background-color: rgba(0,0,0,0.5);
} 

.downloadprintbtn{
    max-width: 550px;
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    gap: 50px;
 }

.downloadprintbtn button{
    padding: 10px;
    width:150px;
    height: 50px;
    font-size: 17px;
    border: none;
    margin-top: 15px;
    border-radius: 5px;
    background-color: black;
    color: white;
    letter-spacing: 1px;
}

.downloadprintbtn button:hover{
    background-color: rgba(0,0,0,0.5);
}


/* responsive editor */

@media(max-width:1500px) {
    
    .main{
        display:block;
        padding-top: 130px;
    }

    .right{
        margin-top: 100px;
    }

    .imgdiv{
        width: 85%;
    }

    .pi h1{
        text-align:center;
    }

    .ed h1{
        text-align:center;
    }

    .exp h1{
        text-align:center;
    }

    .skl h1{
        text-align:center;
    }

}

@media (max-width:900px){
    .left{
        padding-left: 0px;
    }

    .imgdiv{
        width: 87%;
    }

}

@media (max-width:870px){

    .main{
        padding-left: 30px;
        padding-right:30px;
    }

    .prevnextbtn{
        height: 200px;
        gap: 0px;
        display: grid;
        justify-content: center;
 }

    .prevnextbtn button{
        margin-bottom: 50px;
    }

    .prow{
        display: block;
        padding:0 0;
    }

    .pcol{
        margin-top: 20px;
    }

    .pcentr{
        display:block;
        margin-top: 50px;
        padding-bottom: 100px;
    }

    .pcentr input[type=text],input[type=number]{
        width: 100%;
    }

    .pcentr textarea{
        width: 100%;
    }

    .imgdiv{
        width: 100%;
        height: 112%;
    }

    .complete{
        padding-bottom: 0px;
    }

}


@media (max-width:650px){

    h1{
        font-size: 30px;
    }

    .pi label {
        font-size: 20px;
    }

    .imgdiv{
        margin-top: -80px;
        border: none;
        width: 100%;
    }

    /* .right{
        transform: scale(0.9);
    } */

    #frame {
        border: 2px solid grey;
    }
}

@media (max-width:500px){

    .editbar{
        width: 100%;
        margin-bottom: 200px;
    }

    /* .downloadprintbtn {
        margin-top: 400px;
    } */

}

@media (max-width:290px){

    .imgdiv{
        padding-bottom: 100px;
        margin-top: -680px;
    }

     .right{
        transform: scale(0.6);
    } 

    .downloadprintbtn {
        margin-top: 200px;
    }

} 