*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*css for unautorized users sign in button*/

.btngrid{
    display: grid;
    width: 100%;
    justify-content: center;
    padding-top:40px;
}

.herobtn{
    background-color:#0000FF;
    outline: none;
    border: none;
    padding:15px;
    width:200px;
    margin-left: 10px;
    border-radius: 5px;
    color:white;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 1px;
    cursor: pointer;
}

.btngrid a{
    text-decoration: none;

}


/* resume template heading */

.rth{
    padding:130px 20px 0 20px;
    text-align:center;
}

@media (max-width:500px){
    .rth{
         font-size: 24px;
    }
}

/* Templates Section */

.templatesec{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 200px;
     /* background-color: red; */
}

.tempgrid{
    display: grid;
    margin: auto;
    width: 90%;
    /* background-color: #0000FF; */
    grid-template-columns: repeat(4, 1fr);
    /* justify-content:center; */
    place-items: center;
    grid-gap: 70px;
}

.tempcontainer{
    position: relative;
    width: 260px;
    height: 400px;
    /* background-color: yellow; */
    border:2px solid gray;
}

.tempcontainer button{
    /* visibility: hidden; */
    outline: none;
    border:none;
}

.tempimg{
    width: 100%;
    height: 100%;
}

.overlay{
    opacity: 0;
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    transition: 0.5s all ease-in-out;
}

.tempcontainer:hover .overlay{
    opacity: 1;
}

.ctext button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    padding: 13px 17px;
    width: 180px;
    transition: 0.5s all ease-in-out;
    background-color: white;
    cursor: pointer;
    border-radius: 3px;
}

.ctext button:hover{
    background-color: #0000FF;
    color: white;
}

/* responsive templates */

@media (max-width:1350px){
        .tempgrid{
            grid-template-columns: repeat(3,1fr);
            
        }
}

@media (max-width:990px){
    .tempgrid{
        grid-template-columns: repeat(2,1fr);
        
    }
}
@media (max-width:700px){
    .tempgrid{
        grid-template-columns: repeat(1,1fr);
        
    }
}